
.pf-about {
    margin: 0 auto;
    max-width: 70vw;
    min-width: 60rem;
    padding-top: 25rem;

    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;

        .pf-shapes__line {
            margin-top: 2.75rem;
        }
    }

    &__arrow {
        height: 1.2rem;
        width: 1.2rem;
        transform: rotate(180deg);
    }

    &__links {
        display: flex;
        flex-direction: column;
        @include text;
        color: $color-dark-blue-1;
        margin-top: 1.8rem;
        overflow: visible;
        width: 10rem;
    }

    &__title {
        @include heading-type-medium;
        @include no-typography-spacing;
        color: $color-dark-blue-1;
    }

    &__text {
        @include text;
        padding-top: 6rem;
        color: $color-dark-blue-1;
    }

    &__dot-1 {
        top: -11rem;
        left: 58%;
    }

    &__icon {
        height: 1.4rem;
        width: 1.4rem;
        padding-right: 1rem;
        
        svg {
            stroke: currentColor;
        }
    }

    &__link-item {
        margin-bottom: 4rem;
        display: flex;
        height: 2rem;
        transition: color 0.25s ease-in-out;
        
        a, span {
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: color 0.25s ease-in-out;
        }
    }

    .pf-shapes__line.pf-shapes__line--small-space {
        margin-top: 13rem;
    }

    &__return-button {
        position: absolute;
        top: 2.2rem;
        left: -8rem;
    }
    
    @keyframes stroke {
        to {
            stroke-dashoffset: 0;
        }
    }

    &__link-color-1 {
        transition: color 0.15s ease-in-out;
        &:hover {
            color: $color-variance-type-1;
        }
    }

    &__link-color-2 {
        transition: color 0.15s ease-in-out;
        &:hover {
            color: $color-variance-type-2;
        }
    }

    &__link-color-3 {
        transition: color 0.15s ease-in-out;
        &:hover {
            color: $color-variance-type-3;
        }
    }
}