
.pf-project-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 55rem;
    padding-top: 10rem;

    &--flipped {
        flex-direction: column;
    }

    &--right {
        margin-left: auto;
    }

    &__label {
        @include label-text-uppercase;
        @include no-typography-spacing;
        color: $color-grey;
        font-size: 1.1rem;
    }

    &__value {
        @include text-bold;
        color: $color-dark-blue-1;
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    &__content-margin {
        margin-bottom: 3rem;
    }
}