
.pf-navigation {
    height: 60px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;

    &__wrapper {
        display: flex;
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }
    
    &__logo-container {
        height: 3.5rem;
        width: 6.5rem;
    }

    &__nav-item-container {
        display: flex;
        margin-left: auto;
    }

    &__nav-item {
        color: $color-dark-blue-1; 
        @include label-text-uppercase;
        margin-left: 8rem;
        position: relative;
        opacity: 1;
        transition: opacity 0.15s ease-in-out;

        &--selected {
            &::before {
                content: "";
                position: absolute;
                height: 0.1rem;
                bottom: -0.4rem;
                width: 1.1rem;
                left: 0.1rem;
                background-color: currentColor;
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }
}