.pf-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pf-project-item {
    display: flex;
    max-height: calc(100vh + 2px);
    align-items: center;

    &__info-wrapper {
        padding-left: 12rem;
        padding-top: 12rem;
        position: relative;
        width: 40%;

        @media only screen and (max-width: $phone) {
            padding-left: 7rem;
            padding-right: 7rem;
        }
    }

    &__thumbnail-container {
        height: 100%;
        max-height: calc(100vh + 2px);
        min-height: calc(100vh + 2px);
        width: 100%;
        position: relative;
        top: -1px;
        overflow: hidden;
    }

    &__thumbnail {
        background-color: $color-light-grey;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: calc(100vh + 2px);
        transition: all 0.25s cubic-bezier(0.43, 0.13, 0.23, 0.96);

        &:hover {
            transform: scale(1.04);

            .pf-project-item__id {
                font-size: 5rem;
                top: 4.5rem;
                color: red;
            }

            .pf-project-item__title-container {
                .pf-shapes__line--medium-space {
                    max-width: 12rem;
                }
            }
        }
    }

    &__title-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        position: absolute;
        left: 0;
        z-index: 2;
    }

    &__title-wrapper {
        position: relative;
    }

    &__title {
        @include heading-type-small;
        @include no-typography-spacing;
        color: $color-dark-blue-1;

        &--details {
            font-size: 4.8rem;

            @media only screen and (max-width: $phone) {
                font-size: 2.8rem;
            }
        }
    }

    &__id {
        @include no-typography-spacing;
        @include label-text;
        color: $color-dark-blue-1;
        opacity: 0.06;
        font-size: 6.5rem;
        transition: all 0.25s ease-in-out;
        position: absolute;
        z-index: 1;
        right: -5rem;
        top: -3.8rem;

        &--details {
            font-size: 12rem;
            right: -9.5rem;
            top: -6.7rem;

            @media only screen and (max-width: $phone) {
                font-size: 6rem;
                right: -4.5rem;
                top: -3rem;
            }
        }
    }

    &__dot-1 {
        left: 26rem;
        top: 0;

        @media only screen and (max-width: $phone) {
            left: 13rem;
            top: -4rem;
        }
    }

    &__dot-2 {
        left: 17rem;
        bottom: -34rem;

        @media only screen and (max-width: $phone) {
            left: 12rem;
        }
    }

    &__dot-3 {
        left: 39rem;
        bottom: 24rem;

        @media only screen and (max-width: $phone) {
            left: 2rem;
        }
    }
}
