
// FOUNDATION
@import "./foundation/styles/normalize";
@import "./foundation/styles/variables";
@import "./foundation/styles/fonts";
@import "./foundation/styles/typography";
@import "./foundation/styles/containers-and-spacing";
@import "./foundation/styles/general-animations";
@import "./foundation/styles/shapes";
@import "./foundation/styles/buttons";

// COMPONENTS 
@import "./components/navigation/Navigation";
@import "./components/projects/ProjectDescriptionBar";
@import "./components/tools-and-skills/ToolsAndSkills";

// PAGES
@import "./pages/frontpage/Frontpage";
@import "./pages/about/About";
@import "./pages/projects/Projects";
@import "./pages/project-details/ProjectDetails";



html {
    box-sizing: border-box;
}


// LINK STYLING 
a {
    text-decoration: none;
    color: currentColor;
}

// LIST STYLING 
li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}