$fontSize: 1.8rem;

.pf-frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 4rem;
    }

    &__layer {
        display: flex;
        align-items: center;
        max-width: 52vw;
        min-width: 60rem;
        width: 100%;
        margin: 0 auto;
        height: 14rem;
        position: relative;
    }

    &__label {
        @include label-text;
        @include no-typography-spacing;
        color: $color-dark-blue-1;
        margin-left: auto;
    }

    &__logo-container {
        height: 5.5rem;
        width: 30rem;
    }

    &__title-container {
        display: flex;
    }

    &__title {
        @include heading-type-small;
        @include no-typography-spacing;
        white-space: nowrap;
        padding-right: 0.6rem;
        color: $color-dark-blue-1;

        &--expression {
            @include heading-type-small-italic;
            @include no-typography-spacing;
            text-transform: lowercase;
        }

        &--color-1 {
            color: $color-variance-type-1;
        }

        &--color-2 {
            color: $color-variance-type-2;
        }

        &--color-3 {
            color: $color-variance-type-3;
        }

        &--color-4 {
            color: $color-variance-type-4;
        }
    }

    &__arrow {
        height: 1rem;
        width: 1rem;
    }

    &__dot-1 {
        left: 33%;
    }

    &__dot-2 {
        left: 72%;
    }

    &__carousel-container {
        height: $fontSize * 1.5;
        overflow: hidden;
    }

    &__carousel {
        position: relative;
        animation: rotate 8s ease-in-out infinite;
    }
}

@keyframes rotate {
    0%,
    20% {
        transform: translateY(0);
    }
    25%,
    45% {
        transform: translateY($fontSize * -1.5);
    }
    50%,
    70% {
        transform: translateY($fontSize * -3);
    }
    75%,
    95% {
        transform: translateY($fontSize * -4.5);
    }
    100% {
        transform: translateY($fontSize * -6);
    }
}

