
.pf-project-details {
    padding-top: 30rem;
    width: 100%;

    @media only screen and (max-width: $phone) {
        min-width: 100%;
        max-width: 100%;
    }

    &__container {
        min-width: 100rem;
        max-width: 122rem;
        margin: 0 auto;
        display: flex;
        margin-bottom: 10rem;

        @media only screen and (max-width: $phone) {
            flex-direction: column;
        }
    }

    &__title-wrapper {
        margin: 0 auto;
        min-width: 100rem;
        max-width: 122rem;
        display: flex;
        align-items: center;
    }

    &__intro-wrapper {
        padding-left: 14rem;
        width: 100%;
        max-width: 55rem;
        margin-top: 10rem;

        @media only screen and (max-width: $phone) {
            padding-left: 1rem;
        }
    }

    &__sub-header {
        @include text-bold; 
        font-size: 1.4rem;
        color: $color-dark-blue-1;
    }

    &__text {
        @include text;
        padding-bottom: 2rem;
    }

    &__dot-1 {
        top: -22rem;
        left: 48rem;

        @media only screen and (max-width: $phone) {
            left: 7rem;
        }
    }

    &__dot-2 {
        left: 100rem;

        @media only screen and (max-width: $phone) {
            left: 35rem;
        }
    }

    &__dot-3 {
        left: 71rem;
        top: 14rem;

        @media only screen and (max-width: $phone) {
            left: 20rem;
        }
    }

    &__bar-container {
        position: relative;
        margin-left: 24rem;

        @media only screen and (max-width: $phone) {
            margin-left: 5rem;
        }
    }

    &__text-section {
        position: relative;
        margin-top: 5rem;
    }

    &__icon-container {
        margin-right: 0.75rem;
        display: inline;
    }

    &__error {
        width: 100%;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__project-image {
        min-width: 40vw;
        max-width: 85rem;
        height: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border-radius: 0.8rem;
    }

    &__project-image-container {
        & div:first-child {
            padding-top: 10rem;
        }

        & div:last-child {
            padding-bottom: 10rem;
        }
    }

    &__project-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $image-background-color;

        &--size-1 {
            width: 100%;
            height: 60rem;
        }

        &--size-2 {
            width: 100%;
            min-height: 200rem;
        }
    }
}